{%extends 'navbar.html'%}
{% block Title %}
Create Student
{% endblock %}

{%block content%}
<div class="container-fluid bg-light  justify-content-center"
     style="width:500px ; border-radius:40px; margin:50px ; padding:50px">
    <form method="post">
        {%csrf_token%}
        <div class="mb-3">
            <h2>
                Create Student
            </h2>
        </div>
        <div class="mb-3">
            <input class="form-control" name="username" placeholder="Enter Your User Name" required
                   style="border-radius:15px;" type="username">
        </div>
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="Enter Your Name" required
                   style="border-radius:15px;" type="username">
        </div>
        <div class="mb-3">
            <input class="form-control" name="email" placeholder="Enter Your Email" required
                   style="border-radius:15px;" type="email">
        </div>

        <button class="btn btn-dark" style="border-radius:15px;" type="submit">Create Student</button>
    </form>
</div>
<div class="container bg-light justify-content-center" style="margin:20px ;border-radius:40px;  padding:50px">
    <table class="table table-striped mx-" style="margin:20px ; border-radius:40px;  padding:50px">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        {% for student in students %}
        <tr>
            <td> {{ student.id }}</td>
            <td> {{ student.name }}</td>
            <td> {{ student.username}}</td>
            <td> {{ student.email}}</td>
            <td><a class="btn btn-outline-dark" href="{%url 'deletestudent' student.id%}"
                   style="border-radius:15px;width:250px">Delete
                Student</a></td>
            <td>
                <form action="{%url 'updatestudent' student.id%}" method="post">
                    {%csrf_token%}
                    <div class="mb-3">
                        <input class="form-control" name="username" placeholder="Enter Your Name" required
                               style="border-radius:15px; width:250px" type="name">
                    </div>

                    <button class="btn btn-outline-dark" style="border-radius:15px;width:250px" type="submit">Update
                        Student
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container-fluid bg-light  justify-content-center"
     style="width:500px ; border-radius:40px; margin:50px ; padding:50px">
<form action="{%url 'searchstudent'%}"  method="get">
        <div class="mb-3">
            <h2>
                Search Student
            </h2>
        </div>
        <div class="mb-3">
            <input class="form-control" name="username" placeholder="Enter Your User Name" required
                   style="border-radius:15px;" type="username">
        </div>

        <button class="btn btn-dark" style="border-radius:15px;" type="submit">Search Student</button>
    </form>
</div>
<div class="container bg-light" style="margin:20px ;border-radius:40px;  padding:50px">
    <table class="table table-striped " style="margin:20px ; border-radius:40px;  padding:50px">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    {% for student in search_students %}
        <tr>
            <td> {{ student.id }}</td>
            <td> {{ student.name }}</td>
            <td> {{ student.username}}</td>
            <td> {{ student.email}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{%endblock%}