{%extends 'navbar.html'%}
{% block Title %}
Home
{% endblock %}

{%block content%}
<div class="container-fluid bg-light  justify-content-center"
     style="width:500px ; border-radius:10px; margin:50px ; padding:50px">
    <div class="row">
        <h1>Welcome to our home page</h1>
        <h4>if you wanna do CRUD please Press CRUD operations</h4>
        <div class="mb-3 d-grid gap-2 d-md-block ">
            <a class="btn btn-dark btn-lg" href="{%url 'createstudent'%}" style="border-radius:15px;">CRUD Operations</a>
        </div>
        <div class="mb-3 d-grid gap-2 d-md-block ">
            <a class="btn btn-dark btn-lg" href="{%url 'liststudent'%}" style="border-radius:15px;">List All Students</a>
        </div>
    </div>
</div>
{%endblock%}